.subtitle{



        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2rem; /* Adjust the font size as desired */
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adds a drop shadow effect */
        color: #15e6cd	 /* Sets the text color to orange */

}

.text{

    color: #15e6cd;
    padding: 15%;
    
}