#sky{
    background-image: url(../images/Sky.png)
}
#sea{
    background-image: url(../images/Sea.png)
}
#mountains{
    background-image: url(../images/Mountains.png)
}
#cloudsandsun{
    background-image: url(../images/CloudsAndSun.png)
}
#trees{
    background-image: url(../images/Trees.png)
}