


  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-bottom: 10%;
    display: flex;
    justify-content: center;
  }
  
  li {
    color: rgb(101, 98, 98);
    display: block;
    padding: 12px;
    background-color: #070721;
    float: left;

  }
  
  li:hover {
    background-color: #0b779e;
    color: white;
  }
  