.navbarul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #17bcc7b9;
  -webkit-user-select: auto; 
  -moz-user-select: auto;     
  -ms-user-select: auto;      
  user-select: auto;   
}

.navbarli {
  color: rgb(49, 43, 43);
  display: block;
  padding: 12px;
  float: left;
    -webkit-user-select: auto; 
    -moz-user-select: auto;     
    -ms-user-select: auto;      
    user-select: auto;   

}

.navbarli:hover {
  background-color: #b3ffb3;
  color: black;
}
